@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.eot');
    src: url('Pacific.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Pacifico.woff') format('woff'),
         url('../fonts/Pacifico.ttf') format('truetype'),
         url('../fonts/Pacifico.svg#Pacifico') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karla-Regular';
    src: url('../fonts/Karla-Regular.eot');
    src: url('Karla-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Karla-Regular.woff') format("woff"),
         url('../fonts/Karla-Regular.ttf') format("truetype"),
         url('../fonts/Karla-Regular.svg#Karla-Regular') format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-Italic';
    src: url('../fonts/Karla-Italic.eot');
    src: url('Karla-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Karla-Italic.woff') format("woff"),
         url('../fonts/Karla-Italic.ttf') format("truetype"),
         url('../fonts/Karla-Italic.svg#Karla-Italic') format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-BoldItalic';
    src: url('../fonts/Karla-BoldItalic.eot');
    src: url('Karla-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Karla-BoldItalic.woff') format("woff"),
         url('../fonts/Karla-BoldItalic.ttf') format("truetype"),
         url('../fonts/Karla-BoldItalic.svg#Karla-BoldItalic') format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-Bold';
    src: url('../fonts/Karla-Bold.eot');
    src: url('Karla-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Karla-Bold.woff') format("woff"),
         url('../fonts/Karla-Bold.ttf') format("truetype"),
         url('../fonts/Karla-Bold.svg#karla-bold') format("svg");
    font-weight: normal;
    font-style: normal;
}

/*Accessibility
==============================================================*/

.screen-reader-text:focus {
   clip: auto !important;
   display: block;
   height: auto;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000; /* above all content */
}

/*Navigation
==============================================================*/

a {
    color: white;
    text-decoration: none;
}

.phone a {
    color: #e2574c;
    text-decoration: none;
}

.email a:hover, .phone a:hover {
    color: #b64036;
    text-decoration: none;
}

.nav_logo img{
    width: 240px;
    margin: 20px;
}

.nav_background {
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*position: fixed;*/
    /*width: 100%;*/
    background-color: black;
    height: 62px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
    list-style-type: none;
}

nav li { 
    padding: 0 10px;
    font-size: 16px;
    font-family: Karla-Bold;
    color: white;
}


nav a:hover {
    color: #b64036;
    text-decoration: none;
    display: flex;

}

/*Hero image
==============================================================*/

.hero_image {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.4)
    ),
    #969696 url('../images/kayak-bkgd.jpg') no-repeat center top;
    background-size: cover;
    height: 565px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.hero_image h1 {
    font-size: 104px;
    text-align: center;
    font-family: 'pacifico';
    color: white;
    padding: 0px 0px 0px 0px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.31);
}

.hero_image h3 {
    font-size: 47px;
    text-align: center;
    font-family: 'pacifico';
    color: white;
    padding: 0px 0px 0px 0px;
    margin: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.31);
}

.hero_image p {
    color: white;
    text-align: center;
    margin: 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31);
}

.hero_text p{
    padding: 70px 0px 0px;
    font-size: 24px;
    font-family: Karla-Regular;
    color: white;
}

.cta_background p{
    font-size: 21px;
    font-family: Karla-Regular;
    color: white;
}

.cta_background {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 5px .25%;
    margin: 20px 0px 0px 0px;
}

.btn {
	background-color:#e2574c;
	border-radius:28px;
	display:block;
    width: 120px;
    margin: auto;
	cursor: pointer;
	color: #ffffff;
	font-family: Karla-Regular;
	font-size: 20px;
	padding: 16px 12px;
    text-align: center;

}
.btn:hover {
	background-color:#b64036;
}

.btn:active {
	position:relative;
	top: 1px;
}

.btn a{
    color: white;
}

/*Hero image end
==============================================================*/

.section_title {
    /*margin: 100px 0 30px 0;*/
    font-size: 47px;
    font-family: 'pacifico';
    color: #646464;
    text-align: center;
    /*height: 46px;*/
    padding: 30px;
}


p { 
    font-size: 16px;
    font-family: Karla-Regular;
    color: #2d2d2d;
    line-height: 140%;
}

/*about
==============================================================*/

.about_copy {
    text-align: center;
    /*height: 30px;*/
    padding: 0px 80px 70px 80px;
    /*margin: 20px;*/
    /*line-height: 140%;*/
}

.about_images {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 15px;
}

img {
    width: 32%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.34);
}


/*rentals
==============================================================*/

.rentals_copy {
    display: flex;
    flex-direction: flex-start;
    /*margin: 30px;*/
}

.rentals_copy section {
    width: 50%;
    margin: 20px;
}

.rentals_copy aside {
    width: 50%;
    margin: 20px;
}

table {
    width: 100%;
    text-align: right;
    white-space: nowrap;
    border: 1px solid #c8c8c8;
    border-collapse: collapse;
}

th {
    font-family: Karla-Regular;
    font-size: 16px;
    text-align: center;
    height: 40px;
    border: 1px solid lightgrey;
    background: #e6e6e6;
}

tr {
    font-family: Karla-Regular;
    font-size: 16px;
    height: 40px;
    border: 1px solid #c8c8c8;
    text-align: center;
}

td {
    height: 40px;
    border: 1px solid #c8c8c8;
}

td:first-of-type {
    text-align: left;
    border-collapse: collapse;
    padding: 0px 2%;
    border-width: 1px solid #c8c8c8;
}


/*location
==============================================================*/
.location_copy {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.location_copy p {
    height: 46px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin: 10px;
}

iframe {
     margin: 20px;
     height: 270px;
}

/*footer
==============================================================*/

footer {
    display: flex;
    /*flex-direction: flex-start;*/
    justify-content: space-between;
    background-color: black;
    height: 300px;
    align-items: center;
    /*padding: 0px 66px 0px 66px;*/
}

footer p {
    color: white;
    height: 24px;
    margin: 0px;
}

footer section {
    color: white;
    padding: 0px 0px 0px 60px;
}

p.address {
    color: #c8c8c8;
}

footer aside p {
    display: inline;
}

.social {
    
}

/*.social li{
    padding: 4px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}*/
footer ul {
    list-style-type: none;
    padding: 0px 60px;
}

i {
    color: white;
    width: 25px;
}

/*Media queries
==============================================================*/

/*Tablet*/

@media only screen and (max-width: 600px) {

/*navigation bar
==================================*/

    /*nav {width: 100%;
    }*/

/*hero
==================================*/

    .hero_image {width: 100%;
    }

    .hero_image h1 {
    font-size: 72px;
    padding: 0px 0px 0px 0px;
    margin: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31);
    }

    .hero_image h3 {
    font-size: 36px;
    padding: 0px 0px 0px 0px;
    margin: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31);
}





/*about
==================================*/
    
    .about_copy { 
        text-align: center;
        height: 46px;
        padding: 0px 2% 50px 2%;
        margin: 20px;
        line-height: 140%;
    }
    .about_images {
        display: flex;
        align-items: center;
        /*margin: 5px;*/
        flex-direction: column;
        justify-content: space-around;
    }
    img {
        width: 100%;
        margin: 2%;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.34);
    }

/*rentals
==================================*/

    .rentals_copy {
        /*width: 100%;*/
        display: flex;
        align-items: center;
        flex-direction: column;
        /*line-height: 140%;*/
        margin: 2%;
    }
    .rentals_copy section {
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    .rentals_copy aside {
        width: 90%;
    }

/*Location
==================================*/

    /*.location_copy { 
        text-align: center;
        height: 46px;
        padding: 0px 2% 50px 2%;
        margin: 20px;
        line-height: 140%;
    }*/

/*footer
==================================*/

    footer {width: 100%;
        /*padding: 0px 10px 0px 10px;*/
    }

    footer section {
    color: white;
    padding: 0px 0px 0px 10px;
    }

    footer ul {
    list-style-type: none;
    padding: 0px 30px;
    }


    /*.social { 
        text-align: center;
        height: 46px;
        padding: 0px 2% 50px 2%;
        margin: 20px;
        line-height: 140%;
    }*/
}






/*footer
==================================*/


/*Smartphones*/

/*hero
==================================*/

/*about
==================================*/

@media only screen and (max-width : 320px) {
    .about_images {width: 100%;
    display: flex;
    align-items: center;
    margin: 5px;
    flex-direction: column;
    justify-content: space-around;
    }
}

@media only screen and (max-width : 320px) {
    img {
    width: 100%;
    margin: 2%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.34);
    }
}

/*Rentals
==================================*/

@media only screen and (max-width: 320px) {
    .rentals_copy {width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*line-height: 140%;*/
    margin: 2%;
    }
}

@media (max-width: 320px) {
    .rentals_copy section {width: 100%;
    margin: 10px 0px 10px 0px;
    }
}


@media (max-width: 320px) {
    .rentals_copy aside {width: 100%;
    }
}

/*location
==================================*/

/*footer
==================================*/